ul {
    list-style: none; /* Supprime les puces */
    padding: 0;
    margin: 0;
    display: flex; /* Affichage en ligne */
    gap: 15px; /* Espacement entre les éléments */
    
    position: absolute; /* Positionnement en haut */
    top: 0;
    left: 0;
    width: 100%; /* Pour occuper toute la largeur */
    background-color: #f8f8f8; /* Optionnel : Couleur de fond */
    padding: 10px 20px; /* Espace autour des éléments */
}

li {
    display: inline;
}
