@import "tailwindcss";

.voiture_detail {
    height: 100vh;
    width: 100vw;
    overflow: hidden
}
.voiture_detail img {
    position: absolute;
    width: 100vw;
    height: 90vh;
    object-fit: cover;
}
.voiture_detail_title {
    position: relative;
    color: white;
    font-size: 30px;
}
.voiture_detail_title h1 {
    position: relative;
    top: 3rem;
    left: 1.5rem;
    font-size: 3rem;
}

.voiture_detail_description {
    display: flex;
    gap: 30px;
    justify-content: center;
    position: relative;
    color: white;
    bottom: -10rem;
}
.voiture_detail_description p {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.voiture_detail_buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    color: white;
    top: 7rem;
    left: 1.5rem;
    max-width: fit-content;
}