worker_processes 1;

events {
    worker_connections 1024;
}

http {
    server {
        listen 80;
        listen 443 ssl;

        ssl_certificate     /etc/nginx/ssl/nginx-selfsigned.crt;
        ssl_certificate_key /etc/nginx/ssl/nginx-selfsigned.key;

        location / {
            proxy_pass http://$FLASK_ADDRESS:$FLASK_INTERNAL_PORT;
            proxy_http_version 1.1;

            proxy_set_header Host              $host;
            proxy_set_header X-Real-IP         $remote_addr;
            proxy_set_header X-Forwarded-For   $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_set_header Connection        "";

            add_header Access-Control-Allow-Origin * always;
            add_header Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS" always;
            add_header Access-Control-Allow-Headers "Authorization, Content-Type, X-Requested-With" always;

            # OPTIONS = Preflight
            if ($request_method = OPTIONS) {
                add_header Access-Control-Max-Age 1728000;
                add_header Content-Type text/plain charset=UTF-8;
                add_header Content-Length 0;
                return 204;
            }

            proxy_redirect off;
        }
    }
}